body {
  color: #717171;
}

[v-cloak] {
  display: none;
}

.logo {
  max-width: 15rem;
  margin: 0 auto;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.title {
  margin: 1rem 0;
  text-align: left;
  font-size: 2rem;
  cursor: pointer;
}

.title-text {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .logo {
    border-right: none;
    display: block;
    padding-right: 0;
    margin: 0 auto 1rem auto;
  }
  .title-text {
    padding-top: 0.5rem;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
  }
}

.top-bar {
  background-color: #3a3a3a;
  color: white;
}

.search-wrapper {
  display: flex;
  position: relative;
}

.search-wrapper .input-group {
  flex: 1;
}

.example-bar {
  background-color: #ececec;
  overflow: hidden;
  padding: 2rem 0;
}

.pinyin {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.word {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1;
  margin: 0.5rem 0;
}

.word img {
  width: 4.8rem;
  border: 1px solid #ccc;
}

.word a {
  color: inherit;
  text-decoration: inherit;
}

.entry {
  padding: 2rem;
}

.label {
  display: inline-block;
  padding: 0 1rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .label {
    margin: 0 auto;
    display: inline-block;
  }
  .character-example-wrapper>div {
    margin-bottom: 2rem;
  }
  .example-bar {
    padding-top: 0;
  }
}

.parts {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.character-examples {
  list-style: none;
  padding: 0;
}

.character-example-header-word {
  font-size: 2.5rem;
}

.character-example-header-word a {
  color: inherit;
  text-decoration: none;
}

.character-example {
  margin: 0.5rem 0;
}

.character-example a {
  text-decoration: none;
}

.character-examples.collapsed li:nth-child(n + 5) {
  display: none;
}

.character-example-word {
  font-size: 1.4rem;
  font-weight: bold;
  /* font-weight: bold; */
}

.character-example-pinyin {
  color: #969696;
}

.character-example-english {
  font-style: italic;
  color: #c1c1c1;
}

.character-example-word a, .parts a {
  color: inherit;
  text-decoration: inherit;
}

.hidden {
  display: none;
}

.show-more {
  display: block;
  background: #efefef;
  border: none;
  padding: 0.2rem 0.5rem;
  color: #8e8e8e;
  display: inline-block;
}

.collapsed>.label-collapse, :not(.collapsed)>.label-expand {
  display: none;
}

.example-sentence, .lyrics {
  margin-top: 1rem;
}

.example-sentence p, .lyrics p {
  margin: 0;
}

.example-sentence-word {
  font-weight: bold;
  font-size: 1.3rem;
}

.example-sentence .example-sentence-english {
  margin-top: 0.5rem;
}

.image-wrapper {
  padding-bottom: 56%;
  height: 0;
  position: relative;
}

.example-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

@media (max-width: 768px) {
  .example-image {
    margin-left: calc((100vw - 100%) / 2 * -1);
    width: 100vw;
  }
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .sm-mt1 {
    margin-top: 1rem;
  }
  .sm-mt2 {
    margin-top: 2rem;
  }
  .sm-mb1 {
    margin-bottom: 1rem;
  }
  .sm-mb2 {
    margin-bottom: 2rem;
  }
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.video-course {
  font-weight: bold;
  text-decoration: underline;
}

.english {
  font-size: 1.4rem;
  font-style: italic;
  margin: 1.5rem 0 2rem 0;
}

.learn-this {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.3rem;
}

footer {
  padding: 2rem 0;
  background: #3e3e3e;
  color: #ccc;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.speak {
  cursor: pointer;
  color: #ccc;
  position: relative;
  top: 0.2em;
}

.speak:hover {
  color: inherit;
}

.suggestions {
  position: absolute;
  z-index: 1;
  border-radius: 0.3rem;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
  top: 2.9rem;
}

a.suggestion {
  display: block;
  background: white;
  padding: 0.3rem 1rem;
  border: 1px solid #f3f3f3;
  color: #7b7b7b;
  text-decoration: none;
}

a.suggestion:hover, a.suggestion:first-child:not(:hover) {
  background: #ececec;
}

.paginate-button img {
  height: 4rem;
  opacity: 0.1;
}

.paginate-button img:hover {
  opacity: 0.5;
}

.paginate-button {
  background: none;
  padding: 0;
  border: 0;
  position: absolute;
  top: 4.7rem;
}

.paginate-button.previous {
  left: 0;
}

.paginate-button.next {
  right: 0;
}

.lessons.collapsed, .dialogs.collapsed, .browse-words.collapsed {
  display: none;
}

.browse-words a {
  text-decoration: none;
}

.book-title, .lesson-title, .dialog-title {
  cursor: pointer;
}

.books, .lessons, .dialogs {
  list-style: none;
  padding: 0;
}

.book-title {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
  margin: 1rem 0 0 0;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3)
}

.lesson-title {
  padding: 0.5rem 1rem;
  border: 1px solid #4c4c4c;
  border-top: none;
  background: #676666;
  margin-left: 1rem;
  color: #f1f1f1;
}

.lesson-title:last-child {
  border-radius: 0 0 0 0.5rem;
}

.dialog-title {
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  border: 1px solid #c5c5c5;
  border-top: none;
  background: #e4e4e4;
}

.browse-words {
  list-style: none;
  padding: 0;
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
}

.count {
  cursor: pointer;
}

#character-table th {
  cursor: pointer;
}

.lyrics-bar {
  background: #dedede;
  padding: 2rem 0;
}

.youtube {
  padding-bottom: 56.25%;
  position: relative;
}

.youtube iframe, .youtube-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.youtube-screen {
  background: url("../img/youtube-red.svg"), black;
  background-size: 28%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .lyrics {
    padding-left: 0;
  }
}

.song-label {
  background: #4e4e4e;
}

.learn-this-bar, .learn-this-bar a {
  padding: 1.5rem 0;
  color: white;
  font-size: 1.2rem;
}

.song-caroussel {
  position: relative;
  padding: 0 2rem;
}

.song-caroussel .paginate-button {
  position: absolute;
  z-index: 1;
  height: 4rem;
  top: calc(50% - 2rem);
}

.song-caroussel .paginate-button.next {
  margin-right: -2.5rem;
}

.song-caroussel .paginate-button.previous {
  margin-left: -2.5rem;
}

@media (max-width: 768px) {
  .song-caroussel .paginate-button {
    top: calc(100% - 10rem);
  }
  .song-caroussel .paginate-button.next {
    margin-right: -1.5rem;
  }
  .song-caroussel .paginate-button.previous {
    margin-left: -1.5rem;
  }
}

.song-caroussel .row:not(:first-child) {
  display: none;
}

.youtube:not(:first-child) {
  display: none;
}

.youtube-version-button {
  color: #666;
  background: none;
  text-decoration: underline;
  border: none;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .text-sm-center {
    text-align: center !important;
  }
}

.lyrics-line {
  color: #ababab;
  font-size: 1.2rem;
}

.lyrics-line.matched {
  color: #616161;
  font-weight: bold;
}

.lyrics.collapsed .lyrics-line {
  display: none;
}

.lyrics.collapsed .lyrics-line.matched-context {
  display: block;
}

.unsplash-sources {
  background: white;
  padding: 2rem;
  overflow: hidden;
}

.unsplash-sources img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.success {
  position: absolute;
  background: green;
  color: white;
  padding: 0.5rem 1rem;
}

.mand-block-pinyin {
  font-size: 0.7em;
}

.hsk1, [data-hsk="1"] {
  color: #f8b51e;
}

.hsk2, [data-hsk="2"] {
  color: #267f94;
}

.hsk3, [data-hsk="3"] {
  color: #fd4f1c;
}

.hsk4, [data-hsk="4"] {
  color: #bb1718;
}

.hsk5, [data-hsk="5"] {
  color: #1b3e76;
}

.hsk6, [data-hsk="6"] {
  color: #6a3669;
}

.bg-hsk1, [data-bg-hsk="1"] {
  background-color: #f8b51e;
  color: white;
}

.bg-hsk2, [data-bg-hsk="2"] {
  background-color: #267f94;
  color: white;
}

.bg-hsk3, [data-bg-hsk="3"] {
  background-color: #fd4f1c;
  color: white;
}

.bg-hsk4, [data-bg-hsk="4"] {
  background-color: #bb1718;
  color: white;
}

.bg-hsk5, [data-bg-hsk="5"] {
  background-color: #1b3e76;
  color: white;
}

.bg-hsk6, [data-bg-hsk="6"] {
  background-color: #6a3669;
  color: white;
}

.stroke {
  color: #a7a7a7;
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  background: #f3f3f3;
  position: relative;
  margin: 0.2rem;
  display: inline-block;
  bottom: 0.2rem;
}

.stroke:hover {
  background-color: #b5b5b5;
  text-decoration: none;
  color: #868686;
}

.stroke img {
  height: 0.9rem;
  margin-bottom: 0.2rem;
  filter: opacity(0.3);
}

.save-word-button {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 1.75rem;
  right: 0.5rem;
  color: #ffe597;
}

.saved-words-item-star {
  background: none;
  border: none;
  color: #f8b61e;
}

.saved-words-item-remove {
  background: none;
  border: none;
  color: #dc3545;
}

.btn-saved-words {
  background: #f8b61e;
  color: white;
}

.btn-saved-words:hover {
  color: white;
  background: #d29914;
}

.saved-words {
  padding: 0;
  list-style: none;
}

.blink {
  animation: blink 0.5s linear 2;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.btn-saved-words-count {
  background: white;
  border-radius: 100%;
  font-size: 0.8rem;
  color: #f8b71d;
  font-weight: bold;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  position: relative;
  top: -0.1rem;
}