body {
  color: #717171;
}

[v-cloak] {
  display: none
}

.logo {
  max-width: 15rem;
  margin: 0 auto;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.top-bar {
  background-color: #3a3a3a;
  color: white;
  padding-bottom: 2rem;
}

.example-bar {
  background-color: #ececec;
  overflow: hidden;
  padding: 2rem 0;
}

.title {
  margin: 1rem 0;
  text-align: left;
}

.pinyin {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.word {
  font-size: 4.8rem;
}

.word img {
  width: 4.8rem;
  border: 1px solid #ccc;
}

.word a {
  color: inherit;
  text-decoration: inherit;
}

.entry {
  padding: 2rem;
}

.hsk1,
[data-hsk="1"] {
  color: #f8b51e;
}

.hsk2,
[data-hsk="2"] {
  color: #267f94;
}

.hsk3,
[data-hsk="3"] {
  color: #fd4f1c;
}

.hsk4,
[data-hsk="4"] {
  color: #bb1718
}

.hsk5,
[data-hsk="5"] {
  color: #1b3e76
}

.hsk6,
[data-hsk="6"] {
  color: #6a3669;
}

.label {
  width: 4rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

@media(max-width: 576px) {
  .label {
    margin: 0 auto;
    display: block;
  }

  .character-example-wrapper > div {
    margin-bottom: 2rem;
  }

}


.bg-hsk1,
[data-bg-hsk="1"] {
  background-color: #f8b51e;
}
.bg-hsk2,
[data-bg-hsk="2"] {
  background-color: #267f94;
}
.bg-hsk3,
[data-bg-hsk="3"] {
  background-color: #fd4f1c;
}
.bg-hsk4,
[data-bg-hsk="4"] {
  background-color: #bb1718;
}
.bg-hsk5,
[data-bg-hsk="5"] {
  background-color: #1b3e76;
}
.bg-hsk6,
[data-bg-hsk="6"] {
  color: white;
  background-color: #6a3669;
  text-align: center;
  font-weight: bold;
}

.parts {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.character-examples {
  list-style: none;
  padding: 0;
}

.character-example {
  margin: 0.5rem 0;
}

.character-examples.collapsed li:nth-child(n+5) {
  display: none;
}


.character-example-word {
  font-size: 1.4rem;
  font-weight: bold;
  /* font-weight: bold; */
}

.character-example-pinyin {
  color: #969696;
}


.character-example-english {
  font-style: italic;
  color: #c1c1c1;
}

.character-example-word a,
.parts a {
    color: inherit;
    text-decoration: inherit;
}

.hidden {
  display: none;
}

.show-more {
  display: block;
  background: #efefef;
  border: none;
  padding: 0.2rem 0.5rem;
  color: #8e8e8e;
}

.example-sentence {
  margin-top: 1rem;
}

.example-sentence p {
  margin: 0;
}

.example-sentence-word {
  font-weight: bold;
  font-size: 1.5rem;
}


.example-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media(max-width: 576px) {
   .example-image {
     max-width: 14rem;
   }

  .example-wrapper {
    margin-top: 2rem;
    text-align: center;
  }
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.video-course {
  font-weight: bold;
  text-decoration: underline;
}

.english {
  font-size: 1.4rem;
  font-style: italic;
}

.learn-this {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.3rem;
}

footer {
  padding: 2rem 0;
  background: #3e3e3e;
  color: #ccc;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.speak {
  height: 1rem;
  opacity: 0.4;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  z-index: 1;
  border-radius: 0.3rem;
  overflow: hidden;
  border: 1px solid #ccc;
  width: calc(100% - 30px);
}

a.suggestion {
  display: block;
  background: white;
  padding: 0.3rem 1rem;
  border: 1px solid #f3f3f3;
  color: #7b7b7b;
  text-decoration: none;
}

a.suggestion:hover,
a.suggestion:first-child:not(:hover) {
  background: #ececec;
}