<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HSK Glossary Backend | Chinese Zero to Hero</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/hsk-dictionary.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
  </head>

  <body>
    <!-- Page Content -->
    <div class="container-fluid top-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title">
              <a href="https://www.chinesezerotohero.com">
                <img src="img/logo-mark.png" class="logo" alt="" />
              </a>
              <span class="title-text">HSK Backend Tools</span>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div id="save-images">
      <div class="container mt2 mb2">
        <div class="row">
          <div class="col-sm-12">
            <h4>Save Images for Words</h4>
            <button class="btn btn-primary load-words-button" v-on:click="loadWordsClick">Load Words</button>
            <table class="table mt2" v-if="words.length > 0">
              <thead>
                <tr>
                  <th>Word</th>
                  <th><button class="btn btn-primary" v-on:click="getAllClick">Get All</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="word in words" :data-id="word.id">
                  <td>{{ word.word }}</td>
                  <td>
                    <button class="btn btn-primary get-photo-button" v-if="!word.hasPhoto" :data-id="word.id" v-on:click="getPhotoClick">Get photo</button>
                    <span v-else>Has photo: {{ word.photo }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- #save-images -->

    <hr>

    <div id="concat">
      <div class="container mt2">
        <div class="row">
          <div class="col-sm-12">
            <h4>Concatenate LRC files to JSON (Deprecated)</h4>
            <div class="input-group mb-3">
              <input type="file" id="lrc-file-input" multiple />
              <div class="input-group-append">
                <button
                  v-on:click="concatenateButtonClick"
                  class="btn btn-primary"
                  type="button"
                >
                  Concatenate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- #concat -->

    <hr>

      <div id="audit">
        <div class="container">
          <div class="row mt2">
            <div class="col-sm-12">
              <h4>Audit LRCs (Deprecated)</h4>
              <p>Audit the lrc-compiled.json file .</p>
              <button
                v-on:click="auditeButtonClick"
                class="btn btn-primary"
                type="button"
              >
                Audit
              </button>
              <table v-if="audited" class="table mt2 datatable">
                <thead>
                  <tr>
                    <th>Songs</th>
                    <th>Songs with YouTube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ totalCount }}</td>
                    <td>{{ youtubeCount }}</td>
                  </tr>
                </tbody>
              </table>
              {{ wordsWithNoSong.length }}
              <table v-if="audited" class="table mt2 datatable">
                <thead>
                  <tr>
                    <th>Word</th>
                    <th v-on:click="tableHeadingClick">Has LRC with YouTube</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="word in words">
                    <td>{{ word.word }}</td>
                    <td>{{ word.matches.length }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- #audit -->


    </div>

    <div id="lyricer"></div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/vue/vue.js"></script>
    <script src="vendor/papaparse/papaparse.min.js"></script>
    <script src="vendor/lyricer/lyricer.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script src="js/hsk.js"></script>
    <script src="js/backend.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script></script>
  </body>
</html>
