<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>HSK Glossary | Chinese Zero to Hero</title>
  
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css?v=4.3.1" rel="stylesheet">
  <link href="vendor/annotator-js/css/tipped.css?v=4.2.7" rel="stylesheet">
  <link href="vendor/annotator-js/css/annotator.css?v=201907050107" rel="stylesheet">
  <link href="css/hsk-dictionary.css?v=201907050107" rel="stylesheet">
  
</head>

<body>
  
  <!-- Page Content -->
  
  <div id="hsk-dictionary">
    <!-- ANCHOR img/anchors/top-bar.png -->
    <!-- To highlight ANCHORS in the Visual Studio Code editor, download the "comment anchors" extension by Exodius Studios  -->
    <!-- To see image previews, download the "image preview" extension from Kiss Tamás  -->
    <!-- To paste images from clipboard directly, download the "Paste Image" extension from mushan -->
    <div class="container-fluid top-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pb2">
            <h1 class="title"><a href="https://www.chinesezerotohero.com"><img src="img/logo-mark.png" class="logo" alt=""></a><span class="title-text" v-on:click="backToBrowse">HSK Glossary</span></h1>
            <div class="search-wrapper">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-info" v-on:click="backToBrowse" title="Browse words by course"><i class="glyphicon glyphicon-list"></i></span>
                </div>
                <input v-on:keyup.enter="lookupKeyupEnter" v-on:keyup="lookupKeyup" v-on:compositionend="lookupKeyup" v-on:focus="lookupKeyup" type="text" class="form-control" id="lookup" placeholder="Search for a Chinese word here...">
                <div class="input-group-append">
                  <button class="btn btn-primary lookup-button" v-on:click="lookupButtonClick" type="button" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
              <div class="suggestions" v-cloak v-if="suggestions.length > 0">
                <a :href="suggestion.href" v-on:click="suggestionClick" class="suggestion" v-for="suggestion in suggestions">
                  <span class="character-example-word" v-bind:data-hsk="suggestion.book">{{ suggestion.word }}</span>
                  <span class="character-example-pinyin">{{ suggestion.pinyin }}</span>
                  <span class="character-example-english">{{ suggestion.english }}</span>
                  <span class="suggestion-not-found" v-if="suggestion.notFound"><b>&ldquo;{{ suggestion.text }}&rdquo;</b> is not in the HSK. Try looking it up in <b>Wiktionary.</b></span>
                </a>
              </div>
              <button class="btn btn-saved-words ml-2" v-on:click="savedWordsButtonClick" v-if="savedWordIds && savedWordIds.length > 0" type="button" v-cloak><span class="btn-saved-words-count">{{ savedWordIds.length }}</span> Saved</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/entry.png  -->
    <div class="container" v-cloak v-if="view == 'entry'">
      <div class="row text-center">
        <div class="col-md-12">
          <button class="save-word-button" v-on:click="saveWordClick" :data-id="entry.id"><i class="glyphicon glyphicon-star-empty" v-if="!savedWordIds.includes(entry.id)" title="Save word"></i><i class="glyphicon glyphicon-star" v-if="savedWordIds.includes(entry.id)" title="Remove word"></i></button>
          <button class="paginate-button previous" v-on:click="previousClick" title="Previous word"><img src="img/angle-left.svg" alt=""></button>
          <button class="paginate-button next" v-on:click="nextClick" title="Next word"><img src="img/angle-right.svg" alt=""></button>
          <div class="pinyin">{{ entry.pinyin }} <i class="speak glyphicon glyphicon-volume-up" v-bind:data-speak="entry.word"></i></div>
          <div class="word"><span v-bind:data-hsk="entry.book" v-html="addAnimatedSvgLinks(entry.word)"></span></div>
          <div class="stroke-wrapper">
            <a class="stroke" v-for="character in characters" :href="hsk.animatedSvgUrl(character.character)" target="_blank" title="Show stroke order animation"><img src="img/stroke.svg"> Strokes</a>
          </div>
          <p class="english">{{ entry.english }}</p>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/oofc.png -->
    <div class="container-fluid mb2" v-cloak v-if="view == 'entry' && entry.oofc !== ''">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            This word is not required in HSK {{ entry.book }} but is covered in our <a href="https://courses.chinesezerotohero.com/" :data-hsk="entry.book" class="video-course">HSK {{ entry.book }} Video Course</a> as an optional vocabulary word.
          </div>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/pn.png -->
    <div class="container-fluid mb2" v-cloak v-if="view == 'entry' && entry.pn !== ''">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            This is a <b><em>proper noun</em></b> that appeared in <b>Lesson {{ entry.lesson }}<span v-if="entry.book < 5">, Text {{ entry.dialog }}</span></b> of our <a href="https://courses.chinesezerotohero.com/" :data-hsk="entry.book" class="video-course">HSK {{ entry.book }} Video Course</a>.
          </div>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/example-bar.png -->
    <div class="container-fluid example-bar" v-cloak v-if="view == 'entry' && entry.example !== ''">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image-wrapper">
              <img v-bind:src="image" class="example-image" v-if="hasImage">
            </div>
          </div>
          <div class="col-md-6 example-wrapper text-md-left text-sm-center sm-mt2">
            <div class="label" v-bind:data-bg-hsk="entry.book" v-if="entry.oofc == ''">HSK {{ entry.book }}</div>
            <div class="example-sentence">
              <!-- <p class="example-sentence-pinyin">{{ entry.examplePinyin }} <i class="speak glyphicon glyphicon-volume-up" v-bind:data-speak="entry.example"></i></p> -->
              <p class="example-sentence-word"  v-html="highlight(entry.example)"></p>
              <p class="example-sentence-english">{{ entry.exampleTranslation }}</p>
            </div>
          </div>
        </div>
        <div class="unsplash-sources" v-if="admin">
          <div class="row mb2">
            <div class="col-sm-12">
              Search <input type="text" class="search-image" v-on:keyup.enter="searchImageKeyupEnter">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb2" v-for="src in unsplashSrcs">
              <div class="image-wrapper">
                <img v-bind:src="src" alt="" class="example-image unsplash-thumb" v-on:click="unsplashThumbClick">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div>
                Image URL: <input type="text" class="image-url d-block" v-on:keyup.enter="imageUrlKeyupEnter">
              </div>
              <div class="mt2">
                <a :href="'https://www.canva.com/photos/search/' + hsk.simplifyEnglish(entry.english)" target="_blank">Search on Canva</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/character-example.png -->
    <!-- FIXME Handle homonyms (e.g. 称 in 称心如意 should be chèn not chēng) -->
    <div class="container mt2 mb2" v-cloak v-if="view == 'entry'">
      <div class="row mt1 character-example-wrapper">
        <!-- ANCHOR img/anchors/character.png -->
        <div class="col-md-6" v-for="character in characters">
          <!-- ANCHOR img/anchors/character-example-header.png -->
          <div class="character-example-header">
            <b class="character-example-header-word" v-html="character.animatedSvgLink" :data-hsk="character.examples[0].book"></b> <a class="stroke" :href="hsk.animatedSvgUrl(character.character)" target="_blank" title="Show stroke order animation"><img src="img/stroke.svg"></a><span v-if="character.pinyin"> ({{ character.pinyin[0] }}) <b><em>&ldquo;{{ character.definition }}&rdquo;</em></b> is a <b><em v-if="character.etymology">{{ character.etymology.type }}</em></b> character made up of:</span>
          </div>
          <!-- ANCHOR img/anchors/parts.png -->
          <div class="parts">
            <div class="part character-example" v-for="part in character.parts">
              <span class="part-part" v-if="part"><b v-html="part.animatedSvgLink"></b></span>
              <span class="part-pinyin character-example-pinyin" v-if="part.pinyin">{{ part.pinyin[0] }} <i class="speak glyphicon glyphicon-volume-up" v-bind:data-speak="part.character"></i></span>
              <span class="part-definition character-example-english" v-if="part.definition">{{ part.definition }}</span>
              <span class="part-pinyin character-example-english" v-if="part.character == '？'">Other elements</span>
            </div>
          </div>
          <ul class="character-examples collapsed" data-collapse-target>
            <li v-for="example in character.examples" class="character-example"><a :href="'#' + example.id"><span class="character-example-word"><b v-bind:data-hsk="example.book">{{ example.word }}</b></span></a> <span class="character-example-pinyin">{{ example.pinyin }} <i class="speak glyphicon glyphicon-volume-up" v-bind:data-speak="example.word"></i></span> <em class="character-example-english">{{ example.english }}</em></li>
          </ul>
          <button v-if="character.examples.length > 4" class="show-more collapsed" v-on:click="showMoreClick" title="Show all examples"><span class="label-expand">More</span><span class="label-collapse">Collapse</span></button>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/learn-this.png -->
    <div class="container-fluid learn-this-bar" :data-bg-hsk="entry.book" v-cloak v-if="view == 'entry'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            Learn this word in <b>Lesson {{ entry.lesson }}<span v-if="entry.book < 5">, Text {{ entry.dialog }}</span></b> of our <a href="https://courses.chinesezerotohero.com/" class="video-course" :data-hsk="entry.book">HSK {{ entry.book }} Video Course</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/lyrics-bar.png -->
    <div class="container-flud lyrics-bar" v-cloak v-if="view == 'entry' && lrcs && lrcs.length > 0 ">
      
      <div class="container" v-if="!admin">
        
        <div class="song-caroussel">
          <nav>
            <button v-if="lrcs.length > 1" class="paginate-button previous" v-on:click="songPreviousClick" title="Previous song"><img src="img/angle-left.svg" alt=""></button>
            <button v-if="lrcs.length > 1" class="paginate-button next" v-on:click="songNextClick" title="Next song"><img src="img/angle-right.svg" alt=""></button>
          </nav>
          <div class="songs">
            <!--
              <div class="row song" v-if="view == 'entry' && entry.songLyrics != ''">
                <div class="col-md-6">
                  <div class="youtube">
                    <iframe :src="entry.songYouTube.replace('https://youtu.be/', 'https://www.youtube.com/embed/').replace('?t=', '?start=')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-6 text-md-left text-sm-center lyrics-wrapper sm-mt2">
                  <div class="label song-label">{{ entry.word }} IN SONG LYRICS</div>
                  <div class="lyrics">
                    <p class="lyrics-pinyin">{{ entry.songPinyin }}</p>
                    <p class="lyrics-line matched" v-html="highlight(entry.songLyrics)"></p>
                    <p class="lyrics-english">{{ entry.songTranslation }}</p>
                  </div>
                </div>
              </div>
            -->
            <div class="row song" v-for="lrc, index in lrcs" v-if="lrc.youtube && lrc.youtube.length > 0">
              <div class="col-md-6 text-center">
                <div class="youtube-versions">
                  <div class="youtube" v-for="youtube in lrc.youtube.slice(0, 3)">
                    <div class="youtube-screen" v-on:click="youtubeScreenTap" :data-youtube="youtube" :data-starttime="lrc.content[lrc.matchedLines[0]].starttime"></div>
                  </div>
                </div>
                <button v-on:click="cycleYouTubeClick" class="youtube-version-button">Switch to Another Version of the Song</button>
              </div>
              <div class="col-md-6 text-md-left text-sm-center lyrics-wrapper sm-mt2">
                <div class="label song-label">{{ entry.word }} IN SONG LYRICS</div>
                <div class="lyrics collapsed" :id="'lyrics-' + entry.id + '-' + index" data-collapse-target>
                  <div class="lyrics-english mt1" v-html="lrc.artist + '《' + lrc.title + '》'"></div>
                  <div class="lyrics-line" v-for="line, index in lrc.content" v-if="!rejectLine(line.line)" v-bind:class="{ 'matched': lrc.matchedLines.includes(index), 'matched-context': inContext(index, 2, lrc) }" v-html="highlight(line.line)"></div>
                </div>
                <button class="show-more mt1" v-on:click="showPinyinClick" :data-target-selector="'#lyrics-' + entry.id + '-' + index" :data-index="index" :data-bg-hsk="entry.book" v-if="!lrc.annotated">Show Pinyin</button>
                <button class="show-more collapsed mt1" v-on:click="showMoreClick"><span class="label-expand">Show Entire Song</span><span class="label-collapse">Collapse</span></button>
              </div>
            </div>
          </div>         
        </div>
        
      </div>
    </div><!-- .lyrics-bar -->
    
    
    <!-- ANCHOR img/anchors/browse-by-course.png -->
    <div class="container mt2 mb2" v-cloak v-if="view == 'browse'">
      <div class="row">
        <div class="col-sm-12">
          <h4>Browse Words by Course</h4>
        </div>
        <div class="col-sm-12">
          <ul class="books mt1">
            <li class="book" v-for="book, index in books" :data-book="index">
              <div class="book-title" v-on:click='bookClick' :data-bg-hsk="index">HSK {{ index }} Course</div>
              <ul class="lessons collapsed">
                <li v-for="lesson, index in book" :data-lesson="index">
                  <div class="lesson-title" v-on:click='lessonClick'>Lesson {{ index }}</div>
                  <ul class="dialogs collapsed">
                    <li class="dialog" v-for="dialog, index in lesson" :data-dialog="index">
                      <div class="dialog-title" v-on:click='dialogClick'>Part {{ index }}</div>
                      <ul class="browse-words collapsed">
                        <li class="browse-words-item character-example" v-for="row in dialog">
                          <a :href="'#' + row.id" >
                            <span class="character-example-word" :data-hsk="row.book">{{ row.word }}</span>
                            <span class="character-example-pinyin">{{ row.pinyin }}</span>
                            <span class="character-example-english">{{ row.english }}</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container mt2 mb2" v-cloak v-if="view == 'saved-words'">
      <div class="row">
        <div class="col-sm-12">
          <h4>My Words</h4>
          <p>These words are stored in your browser's local storage, which persists unless you clear your browsing data.</p>
        </div>
        <div class="col-sm-12">
          <ul class="saved-words">
            <li class="saved-words-item character-example" v-for="word in getWordsByIds(savedWordIds)">
              <button class="saved-words-item-remove" v-on:click="saveWordClick" :data-id="word.id" title="Remove word"><i class="glyphicon glyphicon-minus-sign" v-if="savedWordIds.includes(word.id)"></i></button>
              <a :href="'#' + word.id" >
                <span class="character-example-word" :data-hsk="word.book">{{ word.word }}</span>
                <span class="character-example-pinyin">{{ word.pinyin }}</span>
                <span class="character-example-english">{{ word.english }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- ANCHOR img/anchors/footer.png -->
    <footer class="container-fluid" v-cloak>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <b>Credits</b>: Images made possible with <a href="https://source.unsplash.com/">Unsplash Source</a>, <a href="https://www.canva.com/photos/">Canva</a> and <a href="https://pixabay.com/">Pixabay</a>. Character component breakdown and stroke animation made possible by <a href="https://github.com/skishore/makemeahanzi">Make Me a Hanzi</a>. Example sentences and translation from <a href="http://www.jukuu.com/">Jukuu</a>. Pinyin annotation made possible by <a href="https://mandarinspot.com/annotate">Mandarin Spot</a>. <a v-on:click="adminClick">Admin</a>
          </div>
        </div>
      </div>
    </footer>
    
  </div>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1846573-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-1846573-15');
  </script>
  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js?v=v3.4.1"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js?v=4.3.1"></script>
  <script src="vendor/vue/vue.js?v=2.6.10"></script>
  <script src="vendor/papaparse/papaparse.min.js?v=5.0.0"></script>
  <script src="vendor/annotator-js/js/tipped.js?v=4.2.7"></script>
  <script src="vendor/annotator-js/js/annotator.js?v=201907050022"></script>
  <script src="js/hsk.js?v=201907050022"></script>
  <script src="js/hsk-dictionary.js?v=201907050107"></script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>

</html>
