<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chinese Zero to Hero Dictionary</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/hsk-dictionary.css" rel="stylesheet">

</head>

<body>

  <!-- Page Content -->

  <div id="hsk-dictionary">
    <div class="container-fluid top-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title">HSK Dictionary</h1>
            <input type="text" class="form-control" placeholder="Search for a Chinese word here...">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid example-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
              <img v-bind:src="image" class="example-image" v-if="hasImage">
              <img v-bind:src="unsplashImage" class="example-image" alt="" v-else="hasImage">
          </div>
          <div class="col-md-9">
              <div class="label" v-bind:data-bg-hsk="entry['Book']">HSK {{ entry['Book'] }}</div>
              <div class="example-sentence">
                <p class="example-sentence-pinyin">{{ entry['Example Pinyin'] }}</p>
                <p class="example-sentence-word">{{ entry['Example'] }}</p>
                <p class="example-sentence-english">{{ entry['Translation'] }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
            <div class="pinyin">{{ entry['Pinyin'] }}</div>
            <h1 class="word"><span v-bind:data-hsk="entry['Book']">{{ entry['Word'] }}</h1>
            <p class="english">{{ entry['English'] }}</p>
        </div>
      </div>
      <div class="row mt1">
        <div class="col-md-6" v-for="character in characterExamples">
          <p><b class="character-example-word" v-bind:data-hsk="character.examples[0]['Book']">{{ character.character }}</b> as in:</p>
          <ul class="character-examples collapsed">
            <li v-for="example in character.examples" class="character-example"><span class="character-example-word"><b v-bind:data-hsk="example['Book']">{{ example['Word'] }}</b></span> <span class="character-example-pinyin">{{ example['Pinyin'] }}</span> <em class="character-example-english">{{ example['English'] }}</em></li>
          </ul>
          <button class="show-more">More examples</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vendor/papaparse/papaparse.min.js"></script>
  <script src="js/hsk-dictionary.js"></script>
</body>

</html>
